.shop-details-image {
	width: 100%;
	height: 208px;
}

.shop-details-image img {
	width: 100%;
	height: 100%;
}

.shop-details-order {
	width: 100%;
	background: #fff;
}

.shop-details-order-title {
	height: 48px;
	width: 100%;
	color: #7bd889;
	font-size: 20px;
	line-height: 48px;
}

.shop-details-order-title-left {
	float: left;
	margin-left: 30px;
}

.shop-details-order-title-right {
	float: right;
	margin-right: 30px;
}

.shop-details-order-content {
	width: 100%;
	background: #eeeef0;
}

.shop-details-order-content-left, .shop-details-order-content-right {
	height: 290px;
}

.shop-details-order-content-left {
	width: 22%;
	display: inline-block;
	float: left;
	overflow: auto;
}

.shop-details-order-content-right {
	width: 78%;
	background: #fff;
	display: inline-block;
	overflow: auto;
}

.shop-details-order-menu {
	background: 0;
}

.shop-details-order-menu > a {
	border-top: 5px solid #eee;
	width: 100%;
	display: inline-block;
	color: #a9a9ab;
	padding: 12px 22px;
}

.shop-details-order-content-title {
	width: 100%;
	color: #7bd889;
	font-size: 20px;
	height: 30px;
	display: inline-block;
	line-height: 28px;
	background: #eeeef0;
	border: 0;
}

.shop-details-order-hot {
	font-size: 16px;
	color: #7bd889;
	margin: 10px 5px 10px 15px;
}

.shop-details-order-all {
	color: #a9a9ab;
	font-size: 14px;
}

.mui-table-view-cell::after {
	background: 0;
}

.shop-details-order-goods {
	width: 100%;
}

.shop-goods-img {
	width: 20%;
	min-width: 80px;
	height: 80px;
	display: inline-block !important;
	float: left;
	margin: 5px 20px 5px 0 !important;
	padding: 0px !important;
}

.shop-goods-img img {
	width: 100%;
	height: 100%;
}

.shop-goods-content {
	display: inline-block;
	margin-top: 5px;
	width: 60%;
}

.shop-goods-name, .shop-goods-sell, .shop-goods-price, .shop-range {
	display: inline-block;
}

.shop-goods-name {
	font-size: 18px;
	color: #000;
}

.shop-goods-sell {
	font-size: 12px;
	color: #a9a9ab;
}

.shop-goods-price {
	font-size: 20px;
	color: red;
	margin-top: 10px;
}

.shop-goods-order-count {
	display: inline-block;
	float: right;
	margin-top: 10px;
}

.shop-menu-active {
	background: #fff;
	border-top: 5px solid #7bd889 !important;
}

.shop-nav a:active {
	color: #929292;
}

@media (min-width: 340px) and (max-width: 370px) {
	.shop-details-order-content-left, .shop-details-order-content-right {
		height: 190px;
	}
}

@media (min-width: 410px) {
	.shop-details-order-content-left, .shop-details-order-content-right {
		height: 355px;
	}
}
