* {
  margin: 0;
  padding: 0;
	font-family: "Microsoft Yahei";
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.none {
	display: none !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

#insight-header {
  height: 137px;
  width: 100%;
  text-align: center;
}

#insight-header .header-body {
  width: 1020px;
  height: 100px;
  line-height: 100px;
  text-align: left;
  display: inline-block
}

#insight-header .header-body img {
  height: 60px;
  margin-top: 20px;
}

#insight-header .header-body .rightInput {
  display: inline-block;
  margin: 0 0 0 5%;
}

#insight-header .header-body .rightInput input {
  width: 300px;
  border: 1px solid #ff73ae;
  height: 30px;
  margin-top: 10px;
  text-indent: 10px;
  color: #aaa;
  font-size: 14px;
  vertical-align: top;
	outline: none;
}

#insight-header .header-body .rightInput button {
	cursor: pointer;
	outline: none;
  height: 32px;
  width: 70px;
  margin-top: 10px;
  float: right;
  background: #ff73ae;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 300;
}

#insight-header .header-body .rightIcon {
  float: right;
  height: 30px;
}

#insight-header .header-body .rightIcon li {
  font-size: 14px;
  color: #999;
  display: inline-block;
  list-style: none;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  position: relative;
}

#insight-header .header-body .rightIcon li img {
  position: relative;
  top: 9px;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

#insight-header .header-logo {
  display: inline-block;
  height: 100%;
}

#insight-header .header-user .logout {
  padding: 0;
  border-radius: 0 0 3px 3px;
  width: 268px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .176)!important
}

#insight-header .header-user .logout .log-arrow-up {
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: -10px
}

#insight-header .header-user .logout>li {
  float: left;
  text-align: center;
  width: 33.3%
}

#insight-header .header-user .logout>li>a {
  padding: 25px 10px!important;
  width: 100%;
  display: inline-block;
  border-bottom: none!important;
  color: #3e3a39
}

#insight-header .header-user .logout>li>a:hover {
  background: none!important;
  color: #0880f1!important
}

#insight-header .header-user .logout>li>a>i {
  font-size: 17px;
  display: block;
  padding: 4px
}

#insight-header .header-user .logout>li:last-child {
  float: left;
  text-align: center;
  width: 100%;
  border-radius: 0 0 3px 3px;
  color: #fff;
  background: #0880f1
}

#insight-header .header-user .logout>li:last-child>a {
  color: #fff;
  border-bottom: none!important;
  text-transform: uppercase;
  padding: 10px!important
}

#insight-header .header-user .logout>li:last-child>a:hover {
  color: #fff!important
}

#banner {
  display: inline-block;
  width: 100%;
  height: 340px;
  text-align: center;
}

#banner img {
  width: 100%;
  height: 100%;
}

.sub-header {
  width: 100%;
  height: 40px;
  background: #000;
  text-align: center;
}

.sub-header ul {
  text-align: left;
  width: 1020px;
  display: inline-block;
  padding: 0;
  height: 60px
}

.sub-header ul li {
  float: left;
  height: 40px;
  font-size: 14px;
  color: #fff;
  line-height: 38px;
  width: 8.2%;
  text-align: center;
  font-weight: 300;
}

.sub-header ul li a {
  color: #fff;
}

.sub-header ul li:hover {
  background: #ff73ae;
  cursor: pointer;
}

.sub-header ul li.active {
  background: #ff73ae;
}

#insight-nav-bar {
  height: 36px;
  background: #fff
}

#insight-nav-bar>.breadcrumb {
  padding-left: 0;
  font-size: 14px;
  padding: 0
}

#insight-nav-bar>.breadcrumb>li {
  border-bottom: 3px solid #4386d2;
  padding-bottom: 10px;
  padding: 8px 0 6px;
  white-space: nowrap
}

#insight-nav-bar>.breadcrumb li:first-child {
  padding-left: 15px
}

#insight-nav-bar>.breadcrumb li:last-child a {
  color: #4386d2!important
}

#footer {
  width: 100%;
  height: 230px;
	margin-top: 130px;
	border-top: 1px solid #ff0066;
	position: relative;
}

#footer .thr-footer {
	width: 1020px;
	margin: 0 auto;
  background: #fff;
}

#footer .thr-footer .thr-footer-top {
	border-bottom: 1px solid #ccc;
	height: 120px;
	line-height: 120px;
	text-align: center;
}

#footer .thr-footer .thr-footer-top ul {
  text-align: center;
	width: 80%;
	margin: 0 auto;
}

#footer .thr-footer .thr-footer-top ul li {
	display: inline-block;
	font-size: 17px;
	font-weight: 300;
	width: 28%;
	margin-right: 4%;
	color: #aaa;
	position: relative;
}

#footer .thr-footer .thr-footer-top ul li img {
	position: relative;
	top: 20px;
}

#footer .thr-footer .thr-footer-bottom ul {
  width: 100%;
	margin: 30px auto 15px;
	text-align: center;
	color: #666;
	font-size: 12px;
}

#footer .thr-footer .thr-footer-bottom ul li {
  display: inline-block;
	color: #666;
	font-size: 12px;
}

#footer .thr-footer .thr-footer-bottom ul li a {
  display: inline-block;
	color: #666;
	font-size: 12px;
}

#footer .thr-footer .thr-footer-bottom ul li a:hover {
	color: #ff0066;
}

#footer .thr-footer .thr-footer-bottom p {
	color: #666;
	font-size: 12px;
	margin: 0 auto 30px;
	text-align: center;
}

#right-menu {
  position: fixed;
  z-index: 1000;
  top: 22%;
  right: 8%;
	width: 66px;
	font-size: 14px;
}

#right-menu div {
	font-size: 14px;
	padding: 10px 4px;
	background: #ff3465;
	color: #fff;
}

#right-menu ul {
	width: 97%;
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom: 0;
}

#right-menu ul li {
	width: 100%;
	display: inline-block;
	text-align: center;
	background: #fff;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

#right-menu ul li:nth-child(1) a {
	color: #ff6000;
}

#right-menu ul li:nth-child(2) a {
	color: #cd5ce1;
}

#right-menu ul li:nth-child(3) a {
	color: #ff0066;
}

.contain-body .contain-info {
  height: 22%;
  overflow: hidden;
}

.miniview {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100
}

.jtk-demo-dataset {
  text-align: left;
  max-height: 600px;
  overflow: auto
}

.demo-title {
  float: left;
  font-size: 18px
}

.controls {
  top: 25px;
  color: #fff;
  margin-right: 10px;
  position: absolute;
  left: 25px;
  z-index: 1
}

.controls i {
  background-color: #3e7e9c;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0;
  padding: 4px
}

li {
  list-style-type: none
}

.sidebar {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-right: 10px;
  width: 150px;
  float: left;
  text-align: center;
  height: 550px;
  background-color: #84acb3
}

.sidebar ul li {
  background-color: #234b5e;
  border-radius: 11px;
  color: #f7ebca;
  cursor: move;
  margin-bottom: 10px;
  margin-left: 6px;
  padding: 8px;
  width: 128px
}

.sidebar ul {
  width: 100%;
  padding: 0
}

.sidebar ul li:hover {
  background-color: #577a8b
}

.sidebar i {
  float: left
}

@media (max-width:600px) {
  .sidebar {
    float: none;
    height: 55px;
    width: 100%;
    padding-top: 0
  }
  .sidebar ul li {
    display: inline-block;
    margin-top: 7px;
    width: 67px
  }
  .jtk-demo-canvas {
    margin-left: 0;
    margin-top: 10px;
    height: 364px
  }
}

.add, .delete, .edit {
  padding: 2px;
  cursor: pointer;
  font-size: 10px;
  line-height: 20px
}

.connect {
  width: 10px;
  height: 10px;
  background-color: #f76258;
  position: absolute;
  bottom: 13px;
  right: 5px
}

.demo-links {
  position: fixed;
  right: 0;
  top: 57px;
  font-size: 11px;
  background-color: #fff;
  opacity: .8;
  padding-right: 10px;
  padding-left: 5px;
  text-transform: uppercase;
  z-index: 100001
}

.demo-links div {
  display: inline;
  margin-right: 7px;
  margin-left: 7px
}

.demo-links i {
  padding: 4px
}

.navbar-top {
  background-color: #58775d;
  border: none;
  font-size: 14px;
  font-weight: 700
}

.navbar-nav>li>a {
  border: none;
  color: #fff;
  padding: 6px 10px;
  text-decoration: none
}

.social-nav {
  color: #fff;
  float: right;
  font-size: 22px
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: #cdcc73;
  text-decoration: none
}

#sub-footer {
  position: fixed;
  bottom: 0px;
  height: 125px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
	text-align: center;
	z-index: 999;
}

#sub-footer img {
	width: 1020px;
	position: relative;
	top: -45px;
}

.contain-body {
  width: 1020px;
  margin: 0 auto;
}

.contain-body .contain-items {
  display: inline-block;
  width: 23%;
  height: 300px;
  margin-right: 16px;
  margin-bottom: 15px;
  position: relative;
}

.contain-body a.contain-items:hover {
  box-shadow: 0px 0px 10px #ccc;
}

.contain-items-p {
  position: absolute;
  color: #666;
}

.contain-items-title {
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.contain-items-discription {
  top: 70px;
  width: 67%;
  margin-left: 17%;
  text-align: center;
  font-size: 12px;
}

.contain-good {
  width: 100%;
  height: 78%;
}

.contain-good img, .c-contain-good img {
  width: 100%;
  height: 100%;
}

.goodName {
  text-decoration: none;
  font-size: 13px;
  color: #333;
  margin: 8px 8px 4px 8px;
  position: relative;
}

.goodMoney span {
  font-family: "Microsoft Yahei";
}

.goodMoney span:nth-child(1) {
  color: #ff0066;
  margin-left: 8px;
  font-size: 16px;
}

.goodMoney span:nth-child(2) {
  color: #ff0066;
  font-size: 24px;
  margin-left: 0px;
}

.goodMoney .goodIcon {
  font-size: 12px;
  color: #fff !important;
  margin-top: 3px;
  border-radius: 8px 0 8px 0;
  background: #ff0066;
  padding: 1px 5px;
  position: relative;
  top: -4px;
  margin-left: 2px !important;
}

.goodMoney .goodSale {
  font-size: 14px;
  color: #888;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}

.goodMoney .goodSale span {
  font-size: 14px !important;
  color: #888 !important;
}

.classify-items {
  display: inline-block;
  width: 188px;
  height: 188px;
  margin-right: 1%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.classify-items span {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 45px;
  line-height: 45px;
  bottom: 0px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}

.classify-items img {
  width: 100%;
  height: 100%;
}

.match-items {
  display: inline-block;
  width: 154px;
  height: 280px;
  margin-right: 1%;
}

.match-items img {
  width: 100%;
  height: 100%;
}

.match-styles {
  height: 26px;
  border-left: 3px solid #666;
  color: #666;
  padding: 0 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

.contain-items-img {
  width: 100%;
  height: 100%;
}

.contain-items-underline {
  width: 100%;
  text-align: center;
  top: 42px;
}

.contain-items-link {
  width: 66px;
  display: inline-block;
  position: absolute;
  bottom: 40px;
  border: 1px solid #999;
  text-align: center;
  font-size: 12px;
  color: #ff0066;
  padding: 1px 2px;
  background: #fff;
  margin-left: 82px;
}

.affix {
	position: absolute !important;
	top: -125px !important;
}

.app-qr {
	position: relative;
	cursor: pointer;
}

.qr {
	position: absolute !important;
	top: 35px !important;
	left: -10px !important;
	width: 130px !important;
	height: 160px !important;
	margin: 0 !important;
	padding: 0 !important;
	z-index: 100;
}

#slides {
	position: relative;
	overflow: visible !important;
}

#slides .slidesjs-navigation {
	position: absolute;
	top: -38px;
	right: 20px;
	color: #fff;
}

#slides .slidesjs-previous {
	width: 20px;
	right: 30px;
}

#slides .slidesjs-next {
	width: 20px;
	right: 10px;
}

#slides .slidesjs-previous:after {
	font-size: 16px;
	content : "<";
	color: #999;
	position: absolute;
	left: 0;
	top: 3px;
	z-index: 10;
}

#slides .slidesjs-next:after {
	position: absolute;
	left: 0;
	top: 3px;
	font-size: 16px;
	content : ">";
	color: #999;
	z-index: 10;
}

.contain-body .contain-items-classify {
  display: inline-block;
  width: 23%;
  height: 320px;
  margin-right: 14px;
  margin-bottom: 15px;
  position: relative;
	border: 1px solid #ccc;
}

.contain-body a.contain-items-classify:hover {
  box-shadow: 0px 0px 10px #ccc;
}

.c-goodName {
	text-decoration: none;
	font-size: 13px;
	color: #333;
	margin: 8px 8px 4px;
	text-align: center;
	max-height: 15px;
	overflow: hidden;
}

.c-goodMoney {
  font-family: "Microsoft Yahei";
	color: #ff0066;
  font-size: 18px;
	text-align: center;
}

.c-goodSale {
  font-size: 13px;
  color: #888;
  text-align: center;
	margin-top: 2px;
}

.c-icon {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #ff0066;
	font-size: 13px;
	color: #fff;
	padding: 2px 5px;
}

.c-contain-good {
  width: 100%;
  height: 74%;
}

.contain-body .c-contain-info {
  height: 25%;
  overflow: hidden;
}

.c-title {
	width: 1020px;
	background: #f2f2f2;
	font-size: 16px;
	height: 55px;
	line-height: 50px;
	margin: 20px auto -10px;
	text-align: center;
	font-size: 22px;
	color: #000;
}

.c-discription {
	font-weight: 300;
	color: #666;
	font-size: 16px;
	display: inline-block;
	margin-left: 20px;
}

.sub-header-affix {
	position: absolute;
	height: 50px;
	line-height: 50px;
	width: 100%;
	z-index: 500;
	background: #fff;
	box-shadow: 0 0 10px #666;
}

.header-affix-inner {
	width: 1020px;
	height: 100%;
	margin: 0 auto;
}

.affix-logo {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 5px 40px 5px 0;
	float: left;
}

.header-affix-inner ul {
	width: 900px;
	display: inline-block;
	padding: 0;
	margin: 0;
	position: relative;
}

.header-affix-inner ul li {
	position: relative;
	display: inline-block;
	margin: 0 17px;
	text-align: center;
	height: 46px;
}

.header-affix-inner ul li:hover {
	border-bottom: 4px solid #ff0066;
}

.header-affix-inner ul li a {
	font-size: 14px;
	display: inline-block;
	color: #666;
	text-decoration: none;
}

.header-affix {
	position: fixed;
	top: 0px;
}

.swiper-container {
	height: 340px;
}

.swiper-button-prev {
	background-image: url('../images/index/left.png') !important;
}

.swiper-button-next {
	background-image: url('../images/index/right.png') !important;
}
