body{
	margin:0;
	padding:0;
	background:#ffe;
	font-size:14px;
	font-family:'微软雅黑','宋体',sans-serif;
	color:#231F20;
	overflow:auto;
}
a {
	color:#000;
	font-size:14px;
}
#main{
	width:100%;
	background: #fff;
	background-size: cover;
}
#wrap{
	position:relative;
	margin:0 auto;
	width:1200px;
	height:650px;
}
#text{
	width:450px;
	height:400px;
	left:60px;
	top:40px;
	position:absolute;
}
#code{
	display:none;
	font-size:16px;
}
.clock-box {
	position:absolute;
	left:60px;
	top:500px;
	font-size:26px;
	display:none;
}
.clock-box a {
	font-size:28px;
	text-decoration:none;
}
#clock{
	display: inline-block;
	margin-top: 15px;
	margin-right: 110px;
}
#clock .digit {
	font-size:60px;
}
#canvas{
	width:1200px;
	height:650px;
}
#error{
	margin:0 auto;
	text-align:center;
	margin-top:60px;
	display:none;
}
.hand{
	cursor:pointer;
}
.say{
	margin-left:5px;
}
.space{
	margin-right:150px;
}
.en-markup-crop-options {
	top: 18px !important;
	left: 50% !important;
	margin-left: -100px !important;
	width: 200px !important;
	border: 2px rgba(255,255,255,.38) solid !important;
	border-radius: 4px !important;
}
.en-markup-crop-options div div:first-of-type {
	margin-left: 0px !important;
}
