#footer
  border-top: 1px solid color-border
  border-bottom: 2px solid #00b0e8
  background-color: rgba(255, 255, 255, 0.98)
  box-shadow: 0 0 10px rgba(14,14,14,0.26);
  padding: 50px 0
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 14px
  text-align center