* {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  transition: all 0.1s linear;
}
img {
  border: none;
}
input,
textarea {
  font-family: "微软雅黑", Arial;
  outline: 0;
  font-size: 14px;
  -webkit-appearance: none;
  border: none;
  background: 0 0;
}
.clear {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hide {
  display: none;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
body,
html {
  font: 12px Arial, "微软雅黑";
  color: #666;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
img {
  float: none;
}
.clearfix:after {
  clear: both;
  display: block;
  content: "";
}
.clearfix {
  zoom: 1;
}

/* 头部开始 */
#header {
  top: 0px;
  z-index: 99;
  width: 100%;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
#header #headTop {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#header .content a#logo {
  display: inline-block;
  height: 60px;
}
#header .content a#logo img {
  height: 72%;
  width: auto;
}
#header .nav {
  text-align: center;
  width: 100%;
  height: 60px;
}
#header .nav > li {
  display: inline-block;
  font-size: 14px;
  height: 100%;
  position: relative;
}
#header .nav > li > a {
  margin: 0 20px;
  height: 100%;
  line-height: 60px;
  color: #848683;
  padding-bottom: 10px;
  font-size: 15px;
}
#header .nav > li > .city-select {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #82c426;
  text-shadow: none;
  border-radius: 4px;
  margin-left: 14px;
  color: #82c426;
}
#header .nav > li > a:hover, 
#header .nav > li > a.active {
  color: #82c426;
  border-bottom: 2px solid #82c426;
}
/* 头部结束 */

/* 内容开始 */
#pk {
  width: 100%;
  height: 400px;
  position: relative;
}
#pk .pk-l, #pk .pk-r {
  width: 47%;
  text-align: center;
  margin-top: 6.5%;
}
#pk .pk-logo {
  position: absolute;
  width: 60px;
  background: url(../images/home/pk.png) no-repeat;
  background-size: contain;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -40px;
}
#pk .pk-block {
  width: 66%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding-top: 96px;
  padding-bottom: 20px;
  margin: 30px auto;
  position: relative;
}
#pk .pk-block .logo  {
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -70px;
}
#pk .pk-block .logo img {
  width: 140px;
  height: 140px;
}
#pk .pk-block .title {
  text-align: center;
  margin-bottom: 20px;
}
#pk .pk-block p {
  color: #848683;
  line-height: 26px;
  font-size: 13px;
}
#middle {
  height: 360px;
  background: url(../images/home/middle_banner.png) no-repeat;
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
  padding-top: 70px;
}
#middle p {
  text-align: center;
  color: #7d807c;
  line-height: 26px;
  font-size: 14px;
}
#member-middle {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
#member-middle .title {
  text-align: center;
  color: #82c426;
  font-size: 18px;
  margin-bottom: 30px;
}
#member-middle p {
  text-align: center;
  color: #7d807c;
  line-height: 28px;
  font-size: 14px;
}
#to-member .to-member-fix {
  margin-bottom: 60px;
}
#to-member .breakfast-fix {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#to-member .to-member-block {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#to-member .breakfast-block {
  width: 42%;
}
#to-member .week {
  display: inline-block;
  width: 16%;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#to-member .week-monday {
  background-image: url('../images/breakfast/monday.png');
}
#to-member .week-tuesday {
  background-image: url('../images/breakfast/tuesday.png');
}
#to-member .week-wednesday {
  background-image: url('../images/breakfast/wednesday.png');
}
#to-member .week-thursday {
  background-image: url('../images/breakfast/thursday.png');
}
#to-member .week-friday {
  background-image: url('../images/breakfast/friday.png');
}
#to-member .to-member-block img {
  width: 100%;
  height: 100%;
}
#help .help-fix {
  margin: 60px auto;
}
#help .help-block-l {
  width: 30%;
  height: 100%;
}
#help .help-block-l ul li {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
  width: 172px;
  padding: 10px 35px 10px 54px;
  cursor: pointer;
  position: relative;
}
#help .help-block-l ul li.active { 
  color: #82c426;
  border-bottom: 1px solid #82c426;
}

#help .help-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 4px;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}
#help .icon-tel {
  background-image: url('../images/help/tel.png');
}
#help .help-block-l ul li.active .icon-tel { 
  background-image: url('../images/help/tel_active.png');
  background-color: #82c426;
}
#help .icon-message {
  background-image: url('../images/help/message.png');
}
#help .help-block-l ul li.active .icon-message { 
  background-image: url('../images/help/message_active.png');
  background-color: #82c426;
}
#help .icon-mall {
  background-image: url('../images/help/mall.png');
}
#help .help-block-l ul li.active .icon-mall { 
  background-image: url('../images/help/mall_active.png');
  background-color: #82c426;
}
#help .icon-news {
  background-image: url('../images/help/news.png');
}
#help .help-block-l ul li.active .icon-news { 
  background-image: url('../images/help/news_active.png');
  background-color: #82c426;
}
#help .icon-service {
  background-image: url('../images/help/service.png');
}
#help .help-block-l ul li.active .icon-service { 
  background-image: url('../images/help/service_active.png');
  background-color: #82c426;
}
#help .icon-share {
  background-image: url('../images/help/share.png');
}
#help .help-block-l ul li.active .icon-share { 
  background-image: url('../images/help/share_active.png');
  background-color: #82c426;
}
#help .help-block-r {
  width: 70%;
  height: 100%;
}
#help .help-block-r ul li {
  margin-bottom: 40px;
  position: relative;
}
#help .help-block-r ul li:last-child {
  margin-bottom: 0px;
}
#help .help-block-r ul li .desc {
  display: inline-block;
  position: relative;
  left: 50px;
}
#help .help-block-r ul li .desc p {
  font-size: 14px;
  line-height: 24px;
  color: #7d807c;
}
#help .help-block-r ul li .title {
  font-size: 48px;
  color: #82c426;
  display: inline-block;
  width: 44px;
  height: 44px;
  position: absolute;
  top: -27px;
}
#help .help-block-r #tel-contain {
  font-size: 14px;
  line-height: 26px;
}
#help .help-block-r #tel-contain p.link {
  position: relative;
  text-indent: 44px;
}
#help .tel-icon {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 0px;
  top: -4px;
}
#help .icon-email {
  background-image: url('../images/help/email.png');
}
#help .icon-phone {
  background-image: url('../images/help/phone.png');
}
#help .icon-address {
  background-image: url('../images/help/address.png');
}
#help .community p {
  font-size: 14px;
  line-height: 26px;
  text-indent: 28px;
}
#help .community p.title {
  font-size: 18px;
  line-height: 30px;
  color: #82c426;
  text-align: center;
  margin-bottom: 20px;
}
#help .community .list-content ul li {
  display: inline-block;
}
#help .community .list-content ul li .img {
  width: 35%;
}
#help .community .list-content ul li .img img {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
#help .community .list-content ul li .word {
  width: 65%;
  color: #7d807c;
}
#help .community .list-content ul li .word p {
  text-indent: 0px;
}
#help .community .list-content ul li .word p.t {
  font-size: 20px;
  width: 100%;
  text-align: left;
  line-height: 50px;
  color: #333;
}
#help .community ul.mall-list li {
  cursor: pointer;
  width: 45%;
  float: left;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  margin-right: 5%;
}
#help .community ul.mall-list li img {
  width: 100%;
}
#help .community ul.mall-list li .mall-t {
  height: auto;
  padding: 14px 20px;
  font-size: 14px;
}
.title-tip {
  color: #fff !important;
  background: url(../images/tip.png) no-repeat;
  width: 138px;
  height: 36px;
  background-size: contain;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
#to-member .to-member-block p {
  color: #848683;
  font-size: 14px;
  line-height: 30px;
}
#to-cart {
  width: 100%;
  margin-bottom: 50px;
}
#to-cart .to-cart-title {
  text-align: center;
  margin: 20px auto;
  margin-bottom: 40px;
}
#to-cart ul li {
  float: left;
  width: 30%;
  margin-right: 5%;
  cursor: pointer;
}
#to-cart ul li:last-child {
  margin-right: 0;
}
#to-cart ul li img {
  width: 100%;
  height: 100%;
}
#to-cart ul li .hover-tip {
  display: none;
  text-align: center;
  width: 100%;
}
#to-cart ul li.active {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
#to-cart ul li.active .hover-tip {
  display: inline-block;
}
#to-cart ul li .hover-tip .title { 
  color: #82c426;
  font-size: 44px;
  line-height: 56px;
}
#to-cart ul li .hover-tip .words { 
  font-size: 14px;
  width: 80%;
  height: 80%;
  margin: 0px auto 20px;
}
#types {
  height: 400px;
  text-align: center;
  padding-top: 56px;
}
#types ul li {
  float: left;
  width: 25%;
}
#types ul li img {
  margin-bottom: 20px;
}
#types ul li p {
  text-align: center;
  color: #7d807c;
  line-height: 26px;
  font-size: 16px;
}
#types p {
  text-align: center;
  color: #7d807c;
  line-height: 26px;
  font-size: 13px;
}
#multi {
  min-height: 272px;
}
#multi ul {
 width: 100%;
}
#multi ul li {
 float: left;
 width: 20%;
}
#multi ul li img {
 width: 100%;
}
#begin {
  padding: 50px 0;
  width: 100%;
}
#begin p {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #82c426;
}
#begin p a {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  border-radius: 6px;
  padding: 6px 26px;
  background: #82c426;
}
.customization {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customization .desc {
  width: 510px;
}
.customization-image {
  width: 100%;
}
.customization-image img {
  width: 100%;
}
.customization .title {
  background-position: center;
  width: 100%;
  margin-bottom: 30px;
}
.customization p {
  color: #7d807c;
  line-height: 28px;
  font-size: 14px;
}
#partner {
  margin-top: 50px;
}
#partner ul li {
  width: 22%;
  height: 310px;
  margin-right: 4%;
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#partner ul li:last-child {
  margin-right: 0;
}
#partner ul li hr {
  border-color: #82c426;
  margin: 14px;
  border-top: 0;
}
#partner ul li .logo {
  width: 100%;
  padding: 30px 0 10px;
}
#partner ul li p {
  line-height: 30px;
  font-size: 14px;
  color: #7d807c;
}
#partner ul li p.title {
  line-height: 30px;
  font-size: 18px;
}
.peisong p.title {
  font-size: 18px;
  padding: 5px 0;
  border-bottom: 1px solid #82c426;
  margin-bottom: 20px;
  width: 74%;
}
.peisong p.hove:hover {
  color: #82c426;  
  cursor: pointer;
}
.peisong p {
  font-size: 14px;
  line-height: 30px;
}
#to-cart ul.peisong li {
  cursor: auto;
}
/* 内容结束 */

/* 底部开始 */
#footer {
  background: #f1f2f6;
}
#footer > div {
  padding: 30px 0;
  width: 1200px;
  line-height: 30px;
  margin: 0 auto;
}
#footer .left {
  float: left;
  color: #7d807c;
  font-size: 13px;
}
#footer .left .title {
  font-size: 23px;
  margin-bottom: 10px;
}
#footer .right {
  float: right;
}
#footer .right > div {
  display: inline-block;
  margin-right: 20px;
}
#footer .right p {
  text-align: center
}
/* 底部结束 */
